/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,100;1,200&display=swap");
/* Colors */
/* Font Sizes */
/* Font Weights */
/* Font Family */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ececec;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
}

th > .bx, td > .bx {
  font-size: 16px;
  margin-right: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

.positive {
  color: #90ec90;
}

.negative {
  color: #fb0c0c;
}

.bg-container {
  background: url("/img/background.jpg") center/cover no-repeat;
  height: auto;
}

.navbar {
  padding: 20px 0;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler > .bx {
  color: #ffffff;
  font-size: 33px;
}

.navbar .navbar-brand .logo {
  font-size: 33px;
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
  margin: 0 15px;
}

.navbar .navbar-nav > .active {
  color: #F8A970;
}

.hero {
  padding: 60px 0;
}

.hero .info {
  padding: 25px 0;
}

.hero .info .info-title,
.hero .info .info-subtitle,
.hero .info .desc {
  margin: 1rem 0;
  letter-spacing: 2px;
}

.hero .info .info-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}

.hero .info .info-subtitle {
  color: #F8A970;
  font-size: 50px;
  font-weight: 600;
}

.hero .desc {
  line-height: 28px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.hero .action {
  margin: 2rem 0;
}

.hero .action .btn {
  background: #E49334;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 33px;
  transition: background-color 0.1s ease-in-out;
}

.hero .action .btn:hover {
  background-color: #F8A970;
}

.main {
  margin-top: 50px;
}

.main .table__content {
  width: 100%;
  margin: .8rem auto;
  overflow: auto;
  -webkit-box-shadow: 6px -5px 39px -20px #42445a;
  -moz-box-shadow: 6px -5px 39px -20px #42445a;
  box-shadow: 6px -5px 39px -20px #42445a;
}

.main .table__content table {
  width: 100%;
  text-align: center;
  display: table;
}

.main .table__content table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F8A970;
}

.main .table__content table::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 4px;
  visibility: hidden;
}

.main .table__content table::-webkit-scrollbar-thumb:hover {
  visibility: visible;
}

.main .table__content table tbody tr {
  padding: 0 40px;
  background-color: #ffffff;
  border: 1px solid #f6f5f5;
  text-align: center;
}

.main .table__content table tbody tr td {
  border: 1px solid #f6f5f5;
}

.main .table__content table tbody tr td img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.main .table__content table tbody th,
.main .table__content table tbody td {
  padding: 16px;
  border-collapse: collapse;
}

.main .table__content table thead {
  background-color: #ffffff;
  color: #d8d6d6;
  padding: 20px;
}

.main .pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .pagination__menu {
  margin: 15px;
}

.main .pagination__menu-btn {
  margin-right: 20px;
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  color: #878585;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
  -webkit-box-shadow: 4px 9px 38px -17px #42445a;
  -moz-box-shadow: 4px 9px 38px -17px #42445a;
  box-shadow: 4px 9px 38px -17px #42445a;
}

.main .pagination__menu-btn:hover {
  background-color: #F8A970;
  color: #ffffff;
}

.footer {
  background-color: #64878d;
  margin-top: 4rem;
}

.footer__title {
  text-align: center;
  padding: 30px 0;
}

.footer__title-text {
  font-size: 16px;
  color: #ffffff;
}
