.main {
  margin-top: 50px;

  & .table__content {
    width: 100%;
    margin: .8rem auto;
    overflow: auto;
    -webkit-box-shadow: 6px -5px 39px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 6px -5px 39px -20px rgba(66, 68, 90, 1);
    box-shadow: 6px -5px 39px -20px rgba(66, 68, 90, 1);

    table {
      width: 100%;
      text-align: center;
      display: table;


      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: $active-color;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $dark-color;
        border-radius: 4px;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }

      & tbody {
        & tr {
          padding: 0 40px;
          background-color: $white-color;
          border: 1px solid #f6f5f5;
          text-align: center;
          & td {
            border: 1px solid #f6f5f5;

            & img {
              width: 36px;
              height: 36px;
              vertical-align: middle;
            }
          }
        }

        & th,
        & td {
          padding: 16px;
          border-collapse: collapse;
        }
      }

      & thead {
        background-color: $white-color;
        color: $grey-color;
        padding: 20px;
      }
    }
  }
  .pagination{
    width: 100%;
    @include flex{
      justify-content: center;
    }
    &__menu{
      margin: 15px;

      &-btn{
        margin-right: 20px;
        padding: 10px 15px;
        border: none;
        background-color: $white-color;
        color: $dark-grey;
        font-size: $menu-font;
        border-radius: 4px;
        transition: background-color 0.1s ease-in-out;
        -webkit-box-shadow: 4px 9px 38px -17px rgba(66, 68, 90, 1);
        -moz-box-shadow: 4px 9px 38px -17px rgba(66, 68, 90, 1);
        box-shadow: 4px 9px 38px -17px rgba(66, 68, 90, 1);

        &:hover{
          background-color: $active-color;
          color: $white-color;
        }
      }
    }


  }
}