*,*::after,*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: $bg-color;
}
a{
  text-decoration: none;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th,td{
  padding: 8px;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
}