/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,100;1,200&display=swap');

/* Colors */
$bg-color: #ececec;
$white-color: #fff;
$dark-color: #262626;
$blue-color: #385fd1;
$btn-color: #E49334;
$active-color:#F8A970;

/* Font Sizes */
$title-font: 50px;
$logo-font: 33px;
$menu-font: 16px;

/* Font Weights */
$font-bold: 600;
$font-thin: 300;

/* Font Family */
$main-fonts: 'Poppins', sans-serif;

